
<!--在刚开始加入这些碎片文件的时候，程序运行显示不出来界面；解决办法：1.查看渲染文件的位置 2.重新启动程序  3.maven当中clean-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="utf-8">
  <title>酒店后台管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all" th:href="@{/layuiadmin/layui/css/layui.css}">
  <!--前面的@/就会制动跳转到目录static当中，在动态生成的时候方便使用-->
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all" th:href="@{/layuiadmin/style/admin.css}">
  

</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">

      
      <div th:replace="~{include/header :: head}">头部份</div>  <!--在header.html-->
      <div th:replace="~{include/menu :: menu}">这是左边菜单</div>
      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="/page/welcome.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="../layuiadmin/layui/layui.js"  th:src="@{/layuiadmin/layui/layui.js}"></script>
  <script>
  layui.config({
    base: [('"'+@{/layuiadmin/}+'"')]   /*定位到static的layuiadmin当中 */
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
  </script>
  

</body>
</html>


