<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/css/loginRegisterForm.css">
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/loginRegisterForm.js" type="text/javascript"></script>


</head>

<body>
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="toPage?url=/index"><img src="/images/logo.png"/></a> <!--修改图片 -->
                <div class="clearfix"></div>
            </div>
            <span class="menu"> </span>
            <div class="m-clear"></div>
            <div class="top-menu">
                <script>
                    $("span.menu").click(function(){
                        $(".top-menu ul").slideToggle(200);
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<div class="contact">
<div class="login-box">
<!--    <div class="lb-header">-->
<!--        <a href="#" class="active" id="login-box-link">登录</a>-->
<!--        <a href="#" id="signup-box-link">注册</a>-->
<!--    </div>-->
    <form class="title">
    <p >欢迎登录酒店预订系统 </p>
    </form>

    <form class="email-login">
        <div class="u-form-group">
            <input type="nickname" style="border-radius:9px" id="loginnickname" placeholder="昵称"/>
        </div>

        <div class="u-form-group">
            <input type="password" style="border-radius:9px" id="loginPwd" placeholder="密码"/>
        </div>


        <div class="u-group">
            <input type="validcode"  style="border-radius:9px " id="login_identity" placeholder="验证码"/>
                <a href="#" class= "getvalid">
            <img  id="imgVerify" src="" alt="获取验证码"   onclick="getVerify(this);">
            </a>
        </div>

        <div class="u-form-group">
            <input type="button" id="getCode" onclick="login()"   value="登录">
<!--            <button onclick="login()"  >登录</button>-->
        </div>

        <div class="u-form-group">
            <a href="toPage?url=/forgetPWD" class="forgot-password">Forgot password?</a>
        </div>
        <div class="u-form-group">
            <a href="toPage?url=/RegisterForm" class="create-account">创建新账号</a>
        </div>
    </form>

</div>
</div>
</body>
</html>




